@import '../../variables.scss';
.Menu {
    width: $menuWidth;
    height: 100vh;
    float: left;
    background-color: $backgroundSecColor;
    transition: width .5s ease-in-out;
    -webkit-box-shadow: 9px 0px 12px -6px #000000;
    box-shadow: 9px 0px 12px -6px #000000;
    font-weight: 500;
    cursor: default;
    .label {
        display: block;
        height: 5vw;
        padding: 0;
        .menuIco {
            font-size: 3vw;
            color: red;
            float: right;
            margin: 1vw;
            transition: transform .5s ease-in-out, color .5s ease-in-out;
        }
        .labelName {
            text-align: center;
            font-size: 1.5vw;
            line-height: 4vw;
            display: inline-block;
            width: 0;
            color: black;
            overflow: hidden;
            transition: width .5s ease-in-out, color .5s ease-in-out;
            color: red;
            margin-top: .5vw;
        }
        &.first {
            background-color: $backgroundThirdColor;
            .labelName {
                font-size: 2vw;
            }
        }
        &:not(.first):hover {
            -webkit-box-shadow: inset 0px 0px 50px 1px #252525;
            box-shadow: inset 0px 0px 50px 1px #252525;
        }
    }
    &:hover {
        width: $menuMaxWidth;
        .label {
            .labelName {
                width: 10vw;
            }
            &.first {
                .menuIco {
                    color: green;
                    transform: rotate(90deg);
                }
                .labelName {
                    color: green;
                    width: 10vw;
                }
            }
        }
    }
}